.tab-user-card {
  .nav-pills {
    background: #ecf0f5;
    padding: 20px;
    border-radius: 5px;
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active{
  background: $primary-color;
  border-color: $primary-color;
}

// Customization

// Button

.btn-primary {
  background-color: $primary-color !important;
  border-width: 0px !important;
}

// Text

.form-input-invalid-feedback {
  //display: none;
  //width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #ff5252 !important;
}

// Horizontal Padding

.padding-horizontal {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

// Navigation tab

.nav-tabs {
  
  .nav-item {
      margin-bottom: 0;
  }

  .nav-link {
      //border: 1px !important;
      border-width: 2px 2px 0 2px !important;
      background: no-repeat center bottom, center 100%;
      background-size: 0 100%, 100% 100%;
      transition: background 0.3s ease-out;
      //background-image: linear-gradient(to top, theme-color('primary') 2px, rgba(255, 255, 255, 0) 2px);

      &.active {
          background-size: 100% 100%, 100% 100%;
          border-color: black !important;
      }
  }
}

.card-header-tabs {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: black;
}

.collapsible-header-tabs {
  padding: 10px 10px 10px 10px;
  border-width: 0 0 0 0;
  border-radius: 5px;
  background-color: #9ccc65;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

// Table

.table-data {
  vertical-align: middle !important;
}

.table-data-discount {
  padding-right: 0 !important;
}